.navbar-brand {
    background-image: url("./Assets/img/digimon.png");
    background-repeat: no-repeat;
    background-size: 100px;
    width: 100px;
    height: 50px;
    padding: 0;
    margin: 0;
  }
  